body {
    font-family: Arial;
    background-color: #f4f4f4;
}

.container {
    width: 400px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

h2 {
    text-align: center;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px 0;
}

button {
    padding: 10px;
    margin-right: 10px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: darkgreen;
}

#error {
    color: red;
}